 <div class="palm-group" id="groupSetup">
	<div class="palm-group-title" id="title"></div>
	<div class="palm-list" >
		<div x-mojo-element="DatePicker" 
			 id="startDate" class="datepickerClass"></div>

		<div x-mojo-element="DatePicker" 
			 id="endDate" class="datepickerClass"></div>
	
		<div class="palm-row" x-mojo-tap-highlight="none">
			<div class="palm-row-wrapper">
				<div id="interval" x-mojo-element="ListSelector">&nbsp</div>  
			</div>
		</div> 

		<div class="palm-row" x-mojo-tap-highlight="none">
			<div class="palm-row-wrapper">
				<div id="workdays" x-mojo-element="ListSelector">&nbsp</div>  
			</div>
		</div> 
        
        <div id="categories_row" class="palm-row last"  x-mojo-tap-highlight="none">
            <div class="palm-row-wrapper">
                <div id="categories" x-mojo-element="ListSelector">&nbsp;</div>
                <div style="padding: 0px 10px 10px 10px;" id="categoriesLabel" 
                     class="tmw-small-label"></div>
            </div>
        </div>
 	</div>
</div>

<div id="listStatistics" x-mojo-element="List"></div>
<br/>
