<div class="palm-row #{rowClass}" 
     x-mojo-tap-highlight='immedate'>
    <div class="palm-row-wrapper">
    	<div class="tmw-list">
    		<div class="date #{ampmClass} #{orientationClass}">#{dateStr}</div>
    		<div class="start #{ampmClass} #{orientationClass}">#{startTime}</div>
    		<div class="end #{inClass} #{ampmClass} #{orientationClass}">#{endTime} </div>
    	    <div class="result #{inClass} #{ampmClass} #{orientationClass}">#{result}</div>
    	    <div class="categoryName #{orientationClass}">#{categoryName}</div>
    	</div>
    </div>
</div>
 
