<div class="palm-page-header">
    <div class="palm-page-header-wrapper">
        <div id="icon" class="img_scene"></div>
        <div id="pageTitle" class="title"></div>
    </div>
</div>

<div class="tmw-text">
	<h3>Frequently Asked Questions</h3>
    
    <ol>        
        <li>
            <b>What is the difference between the free and the full version?</b>
            
            <p>
                Here is a list of differences:
                <ul>
                    <li>Graphical rendering of statistics</li>
                    <li>Automatic notifications for check in and out</li>
                    <li>Dashboard mode for easier check in and out</li>
                    <li>Automatic calculated breaks</li>
                </ul>
            </p>
        </li>
        
        <li>
            <b>I have entered data for some category, but now it can't see it in the
            Weekview. In the day view the data is visible. Where is it?</b>
            
            <!-- only a test ....
            <table class="palm-divider collapsible" x-mojo-touch-feedback0"delayed">
             <tbody>
                 
                    <tr>
                        <td class="left"></td>
                        <td class="line" width="100%"></td>
                        <td><div class="palm-arrow-closed arrow_button">hallo</div></td>
                        <td class="right"></td>
                    </tr>
                  
             </tbody>
                 
              
            </table>
            -->
           <p> Thats easy. Simply add the category of the missing entries to
            the category filter. Then the data will be shown up and calculated
            in the week view.</p>
         
         
        </li>
        
        <li>
            <b>How can I get TMW being placed in the dashboard all the time?</b>
            
            <p>
                Simply use the <i>back</i>-gesture in the week view. The app 
                gets minimized to the dashboard then. From there you can easily 
                check in and out,
                without opening the app.
            </p>
        </li>
    
        <li>
            <b>Will there be support for automatic check in/out using GPS or Wifi?</b>
            
            <p>
                No. I checked the reliability of GPS and WiFi events and was not satisfied.
                It seemed to be more work, correcting the automatic generated entries,
                then checking in and out manually.
                <br/>
                The dashboard mode gives the user support to check in and out as 
                easy as possible.
            </p>
        </li>
        
        <li>
            <b>Can I export TrackMyWork-data in a spreadsheet?</b>
            <p>
                Yes. Currently it is not comfortable, but possible. Do it in
                the following steps:
                <ol>
                    <li>Export the data in a mail, to be sent by yourself</li>
                    <li>Extract the data, you want from your received email 
                         by copy and paste in a file called like 
                         <i>YourSheetName.csv</i></li>
                    <li>Import this file into your spreadsheet software</li>
                    <li>You're done!</li>
                </ol>
            </p>
        </li>
        
    </ol>
</div>
