<div class="palm-page-header">
    <div class="palm-page-header-wrapper">
        <div id="icon" class="img_scene"></div>
        <div id="pageTitle" class="title"></div>
    </div>
</div>

<div class="tmw-text">
	<h3>Häufig gestellte Fragen</h3>
    
    <ol>
        <li>
            <b>
                Was sind eigentlich die Unterschiede zwischen der freien und
                der Vollversion?
            </b>
            
            <p>
                Hier sind die Unterschiede:
                <ul>
                    <li>Grafische Aufbereitung der Statistik</li>
                    <li>Automatische Benachrichtigungen für die
                        Ein- und Ausbuchung.</li>
                    <li>Dashboard-Modus für einfacheres Ein- und Ausbuchen</li>
                    <li>Automatisch berechnete Pausen</li>
                </ul>
            </p>
        </li>

        <li>
            <b>
                Ich habe Daten für eine Kategorie aufgezeichnet, kann sie aber
                in der Wochenübersicht nicht finden. In der Tagesansicht werden 
                sie aber angezeigt. Wo sind sie bloß?
            </b>
         
           <p>
               Ganz einfach. Die gesuchte Kategorie im Kategorie-Filter auswählen.
               Dann werden die Daten auch in der Wochenansicht angezeigt und
               aufsummiert. 
           </p>
        </li>
        
        <li>
            <b>Wie kann ich TrackMyWork dauerhaft im Dashboard behalten</b>
            
            <p>
                Dazu muss man einfach in der Wochenansicht die 
                <i>Zurück</i>-Geste ausführen. Die Anwendung wird dann in das
                Dashboard minimiert. Von hier aus kann man sich dann sehr einfach
                ein- und ausbuchen, ohne die Anwendung im Vollbildmodus starten
                zu müssen.
            </p>
        </li>
    
        <li>
            <b>Wird es möglich sein, automatisch über GPS oder Wifi ein- und 
               auszubuchen?</b>
            
            <p>
                Nein. 
                Ich habe die Zuverlässigkeit derartiger Buchungen mal getestet
                und war sehr unzufrieden mit der Verlässlichkeit. Gefühlt
                war das aufwendiger, als manuelles Ein- und Ausbuchen.
                <br/>
                Aber es gibt ja den Dashboard-Modus, der das so einfach wie 
                nur möglich macht.
            </p>
        </li>     
        
        <li>
            <b>Kann ich TrackMyWork-Daten in ein Kalkulationsprogramm exportieren?</b>
            <p>
                Ja. Aktuell ist das zwar nicht komfortabel, aber möglich. 
                Folgende Schritte sind dafür notwendig:
                <ol>
                    <li>Die Daten als Mail exportieren, die an sich selbst gesendet wird</li>
                    <li>Aus der erhaltenen Mail werden die Daten per Kopieren und
                        Einfügen in eine Datei extrahiert, die z.B. 
                        <i>MeineArbeitszeit.csv</i> heisst</li>
                    <li>Diese Datei wird nun in das Kalkulationsprogramm importiert</li>
                    <li>Das war's!</li>
                </ol>
            </p>
        </>  
    </ol>
</div>
